[submodule "3rdparty/mavlink_v1"]
	path = 3rdparty/mavlink_v1
	url = https://github.com/mavlink/c_library_v1.git
[submodule "3rdparty/mavlink_v2"]
	path = 3rdparty/mavlink_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "3rdparty/qt-android-cmake"]
	path = 3rdparty/qt-android-cmake
	url = https://github.com/LaurentGomila/qt-android-cmake
[submodule "2ndparty/industrial-controls"]
	path = 2ndparty/industrial-controls
	url = https://github.com/MishkaRogachev/industrial-controls
[submodule "2ndparty/industrial-indicators"]
	path = 2ndparty/industrial-indicators
	url = https://github.com/MishkaRogachev/industrial-indicators
